@model Hoivasovellus.Models.Tapahtumat


    <h3 style="margin-left:15%">Tapahtuman kirjaaminen</h3>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Otsikko, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Otsikko, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Otsikko, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Teksti, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Teksti, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Teksti, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kirjaaja, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kirjaaja, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Kirjaaja, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TapahtumaAika, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TapahtumaAika, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TapahtumaAika, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">

            <!-- Seuraavalla rivillä on määritetty tapahtuma create dropdown otsikko "lapsi" -->
            @Html.LabelFor(model => model.AsiakasID, "Lapsi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AsiakasID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AsiakasID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Valmis" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<a href="@Url.Action("Index", "Tapahtumat")" class="btn btn-info btn-md">
    <i class="icon-arrow-left"></i>
</a>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
